MOODLE_BASE_URL=https://moodle.technikum-wien.at
MOODLE_DASHBOARD_URL=https://moodle.technikum-wien.at/my/
MOODLE_USERNAME=
MOODLE_PASSWORD=
MOODLE_STORAGE_STATE=
MOODLE_HEADLESS=true
CIS_BASE_URL=https://cis.technikum-wien.at
CIS_DASHBOARD_URL=https://cis.technikum-wien.at/cis.php/
CIS_URLS=https://cis.technikum-wien.at/cis.php/
CIS_USERNAME=
CIS_PASSWORD=
CIS_STORAGE_STATE=
CIS_MAX_PAGES=8
STUDY_BUDDY_SOURCE_MODE=auto
STUDY_BUDDY_DOWNLOAD_CONCURRENCY=3
STUDY_BUDDY_TYPST_VALIDATION=balanced
STUDY_BUDDY_RENDER_STRATEGY=auto
